# Node.js
node_modules
frontend/tai_frontend/node_modules

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
env

# Build artifacts
dist
build
out
.next

# IDE
.vscode
.idea
.DS_Store

# Docker
docker-compose.yml

# Git
.git
.gitignore